* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	box-sizing: border-box;
}

/*..sigh..*/
div,span {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

body {
	/*background: #DEDEDE;*/
	display: flex;
	min-height: 100vh;
	background: #cdcdcd;
	background-image: url('../Images/EduardoLatorre.jpg');
	background-size: 100%;
	width: 100%;
	overflow: hidden;
}

form {
	margin: auto;
	margin-top: 70px;
	width: 50%;
	max-width: 500px;
	background: #F3F3F3;
	opacity: 0.95;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.logoTitle{
	height: 70px;
    width: 375px;
    padding-left: 50px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 1.0);
}

input {
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;
	
}

input:HOVER{
}

input[type="submit"] {
	background-color: rgba(236, 62, 63, 0.9);
	border: 0;
	color: white;
	cursor: pointer;
	border-radius: 0px;
	margin-bottom: 0;
}

input[type="submit"]:hover {
	background-color: gray;
}

input[type="submit"]: active {
	transform: scale(0.95);
}

@media ( max-width :768px) {
	form {
		width: 75%;
	}
}

@media ( max-width :480px) {
	form {
		width: 95%;
	}
}

/*footer*/
#footer{
	margin-top:30px;
	background:#343434;
	position: fixed;
   	width: 100%;
   	top: 89%;
   	height: 115px;
}

#intec{
	width: 85px;
	margin-left: 1250px;
	margin-top: 5px;
}
#intecLogo{
	position: relative;
    width: 180%;
    bottom: 35px;
}
#logo{
	width: 175px;
}
#logoDiv{
	position: relative;
    left: 2%;
    bottom: 65px;
}
#copyrightContainer{
	margin-left: 630px;
}
#copyright{
	position: relative;
    width: 180%;
    color:white;
    margin-top:1%;
    bottom: 5px;
    right: 45px;
    font-weight: bold;
}