@CHARSET "ISO-8859-1";
body{
	height: 100%;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
main {
    flex: 1 0 auto;
}

/*..sigh..*/
div,span {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

/*barra de navegacion - start*/
#navigationMenuTag{
	position: fixed;
	height:53px;
    top:-11px;
}
#navigationBar{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background: #343434;
    overflow: hidden;
    height: 53px;
}
.dropdownClass{
    display: none;
    position: absolute;
    top:100%;
    background-color: #343434;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-width: 180px;
    right: 0px;
}
#dropdownContent a{
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
}
#dropdownContent a:hover{
    background-color: #EC3E3F;
    z-index: 100;
}
#menu li:not(#user){
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding:15px;
    text-decoration: none;
}
li a:hover:not(#currentPageMarker){
    background-color: #EC3E3F;
    transition: all 0.3s;
}
#user{
    float: right;
}
#currentPageMarker{
    background-color: #EC3E3F;
}
.show {
    display: block;
}
.dropBtn{
	outline: none;
	cursor: pointer;
}

/*titulo*/
#titleBar{
	color: white;
	background:#343434;
	margin-top: 67px;
    padding-top: 0px;
    margin-left: 13px;
    margin-right: 13px; 
}
#titleBar p{
	font-weight: bold;
	margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
}
#titleBarImage{
	width: 50px;
    position: relative;
    top: 3px;

}
/*Mensaje de soporte*/

#soporteText h4{
    text-align: center;
    margin-top: 40px;
    padding-left: 13px;
    width: 1335px;
    margin-bottom: 40px
}

#soporteText{
    position: relative;
}

#soporteNumber h6{
	text-align: center;
    margin-top: 30px;
    padding-left: 13px;
    width: 1335px;
}

/*footer*/
#footer{
	margin-top:30px;
	background:#343434;
	position: fixed;
   	width: 100%;
   	top: 89%;
   	height: 115px;
}

#intec{
	width: 85px;
	margin-left: 1250px;
}
#intecLogo{
	position: relative;
    width: 180%;
    bottom: 110px;
}
#logo{
	width: 198px;
}
#logoDiv{
	position: relative;
    left: 2%;
    bottom: 65px;
}
#copyright{
	position: relative;
    width: 180%;
    bottom: 20px;
}
#copyrightContainer{
	margin-left: 630px;
}