* {
	margin: 0;
	padding: 0;
	font-family: Nunito;
	box-sizing: border-box;
}

body {
	/*background: #DEDEDE;*/
	display: flex;
	min-height: 100vh;
	background: #CDCDCD;
	width: 100%;
}

form {
	margin: auto;
	width: 50%;
	max-width: 500px;
	background: #F3F3F3;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.5);
}

input {
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;
	
}

input:HOVER{
}

input[type="submit"] {
	background-color: #EC3E3F;
	border: 0;
	color: black;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

input[type="submit"]:hover {
	background-color: gray;
}

input[type="submit"]: active {
	transform: scale(0.95);
}

@media ( max-width :768px) {
	form {
		width: 75%;
	}
}

@media ( max-width :480px) {
	form {
		width: 95%;
	}
}